/* App.css */
.custom-border li:not(:last-child) {
  border-bottom: 1px solid rgb(55 65 81);
}
.custom-border-light li:not(:last-child) {
  border-bottom: 1px solid #c4ccd9;
}

.borderRight:not(:last-child) {
  border-right: 1px solid rgb(55 65 81);
}
.borderRight-light:not(:last-child) {
  border-right: 1px solid #c4ccd9;
}

/* Customizing the Leaflet Zoom control*/
.leaflet-control-zoom {
  border-radius: 6px !important;
}
.leaflet-control-zoom-in,
.leaflet-control-zoom-out {
  background-color: var(--leaflet-bg-color) !important;
  color: var(--leaflet-text-color) !important;
  border: none !important;
  font-size: 22px !important;
  font-weight: bold;
}

.leaflet-control-zoom-in span {
  border-bottom: 2px solid #6b728052 !important;
  padding-bottom: 6px;
  padding-right: 8px;
  padding-left: 8px;
}

/* .leaflet-control-zoom-in{
  border-bottom: 1px solid #6b7280 !important;
} */

.leaflet-control-zoom-in:hover,
.leaflet-control-zoom-out:hover {
  background-color: var(--leaflet-hover-bg-color) !important;
}

.leaflet-touch .leaflet-control-layers,
.leaflet-touch .leaflet-bar {
  border: none !important ;
}

.leaflet-touch .leaflet-bar a:first-child {
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
  border: 1px solid black;
}

.leaflet-touch .leaflet-bar a:last-child {
  border-bottom-left-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
}

.leaflet-touch .leaflet-bar a {
  width: 35px !important;
  height: 35px !important;
  line-height: 35px !important;
}
